
body{
	font-size: 16px;
	color:black; 
}
#header-nav{
	background-color: gray;
	border-radius: 0;
	border: 0;
}
.navbar-brand{
	padding-top: 25px;
	height: 80px;
}

.navbar-brand h1{
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.row section{
	background-color: gray;
	padding: 15px;
	margin-top :20px;
}
.row a{
	text-decoration: none;
	color: red;
}

.navbar-header button.navbar-toggle , .navbar-header .icon-bar{
	border : 1px solid black;
}

@media (max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
	}
	
	.navbar-brand h1{
		padding-top: 20px;
		font-size: 5vw;
	}

	#collapsable-nav a{
		text-align: center;
		color: black;
		background-color: pink;
	}

}

}